ul {
    padding-left: 0px;
    list-style: none;
    li {
        display: inline-block;
    }
}

.register {
    margin-top: 30px;
    .register-link {
        margin-left: 8px;
    }
}

.login-link {
    margin-left: 8px;
}

.book-container {
    margin-top: 8px;
    .book-image {
        height: 290px;
        width: 198px;
        border-radius: 3px;
    }
    .book-title {
        margin-top: 12px;
        text-transform: capitalize;
    }
    .book-author {
        text-transform: capitalize;
    }
}

.book-review {
    .book-review-image {
        border-radius: 3px;
        height: 450px;
    }
    .single-book-title {
        text-transform: capitalize;
    }
    .single-book-authors {
        text-transform: capitalize;
    }
    .single-book-description {
        margin-top: 50px;
    }
}

.genre-name {
    text-transform: capitalize;
}

.hidden-comment-form {
    display: none;
}

.user-book-image {
    height: 150px;
}

.user-books-authors-list {
    display: block;
}

.user-books-genres-list {
    display: block;
}

.book-old-price {
    b {
        text-decoration: line-through;
    }
}

.new-product {
    position: absolute;
    font-size: 1.7em;
}

.discount {
    position: absolute;
    font-size: 1.5em;
    margin-left: 14vh;
}

.create-user-form-container {
    margin: auto;
    padding: 25px;
    width: 75%;
}


// Rating stars 
div.stars {
    display: inline-block;
}

input.star {
    display: none;
}

label.star {
    float: right;
    padding: 3px;
    font-size: 26px;
    color: #4A148C;
    transition: all .2s;
}

input.star:checked~label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

input.star-5:checked~label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}

input.star-1:checked~label.star:before {
    color: #F62;
}

label.star:hover {
    transform: rotate(-15deg) scale(1.3);
}

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}
// End rating Stars


.custom-submit-button {
    width: 30%;
}

.rating-star-color {
    color: #FD4;
}

.empty-rating-star {
    color: #4A148C;
}

.book-average-rating {
    position: absolute;
    right: 0;
}

.star-resize {
    font-size: 25px;
}

.book-report-link {
    position: absolute;
    right: 0;
    color: black
}